# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.ComboSystemSolo.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\GitProjects\ComboPrototypeSolo\ComboSystemSolo\.idea\.idea.ComboSystemSolo\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
